<%- include ('partials/header.ejs') %>

			<!-- Main -->
			<section id="banner" style="background-image: url('/public/images/beeFarm.jpg'); height: 13em;">
					
			</section>
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header style="text-align: center;"r>
										<h2>Who we are</h2>
										<p>A history of our humble beginnings</p>
									</header>

									
									<h3 style="text-align: center;">The business</h3>

									<p style="text-align: center;">Moonlight Meadery has a rich history that dates back to humble beginnings.
										It all started when our founder, Michael, who is a passionate beekeeper and homebrewer, began experimenting 
										with different honey varietals and fermentation techniques. He quickly discovered a love for mead 
										and decided to turn his passion into a business. Starting small, he sold his mead at local farmers'
										 markets and festivals, slowly gaining a loyal following of customers who appreciated the unique flavors 
										 and quality of his product. Over the years, our Meadery has grown and expanded, but our commitment to 
										 using only the finest ingredients and traditional mead-making techniques has remained the same. Today,
										  our meads are sold in select locations throughout the United States and in limited quantities
										   internationally. Despite our growth, we remain dedicated to producing small batches of mead, 
										   ensuring that every bottle is crafted with care and attention to detail. Our journey from a small 
										   homebrew operation to a respected Meadery is a testament to the power of hard work, passion, and a
										    commitment to quality.</p>

									<h3 style="text-align: center;">The Owners</h3>
									<section class="wrapper style1">
										<div class="container">
											<div class="row">
												<section class="col-12 col-12-narrower">
													<div class="box post">
														<a href="" class="image left"><img  src="public/images/Michael2.jpg" alt="" /></a>
														<div class="inner">
															<h3>Michael</h3>
															<p>Michael Fairbrother is the founder of Moonlight Meadery, a well-known and respected Meadery based in
																 Londonderry, New Hampshire. Michael's passion for mead-making began when he was a teenager and started
																  homebrewing with his father. He quickly became fascinated with the process and spent years perfecting his
																   craft. In 1995, Michael founded Moonlight Meadery as a small side business, selling his mead at local farmers'
																    markets and festivals. As demand for his mead grew, Michael decided to focus on the business full-time,
																	 devoting himself to creating exceptional meads using only the highest quality ingredients. Today, Moonlight
																	  Meadery is a highly respected brand, known for its innovative flavor combinations and commitment to 
																	  traditional mead-making techniques. Michael's dedication to his craft and passion for mead-making have
																	   helped make Moonlight Meadery a staple of the New England craft beverage scene.</p>
														</div>
													</div>
												</section>
												<section class="col-12 col-12-narrower">
													<div class="box post">
														<a href="" class="image left"><img src="public/images/Carmen.jpg" alt="" /></a>
														<div class="inner">
															<h3>Carmen</h3>
															<p>Carmen Johnson is a co-founder of Moonlight Meadery, a renowned Meadery based in Londonderry, New Hampshire.
																 Carmen's journey to becoming a mead-maker began when she met her future husband, Michael Fairbrother, who
																  shared with her his passion for mead-making. Together, they founded Moonlight Meadery in 1995 as a small side business,
																   selling their mead at local farmers' markets and festivals. As the business grew, Carmen played a vital role in managing 
																   the company's finances and operations, allowing Michael to focus on creating exceptional meads. Today, Moonlight Meadery is 
																   a highly respected brand known for its innovative flavor combinations and commitment to traditional mead-making techniques. 
																   Carmen's dedication to the business and her unwavering support of Michael have helped make Moonlight Meadery a staple of 
																   the New England craft beverage scene.</p>
														</div>
													</div>
												</section>
											</div>
								</article>

						</div>
					</div>
				</section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>