<%- include ('partials/header.ejs') %>

			<!-- Main -->

            <section id="banner" style="background-image: url('/public/images/beeHives.jpg'); height: 13em;">
					
            </section>

				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->
                           

								<article>
									<header  class="major"style="text-align: center;">
										<h1 style="font-size: 3em;">Join the Team</h1>
										<p class="altTop">Become part of a movement</p>
									</header>
                                        <div class="row" style="padding-top:4em">
                                                
                                                <section class="col-6 col-6-narrower" >
                                                    <p>Looking for an exciting and rewarding career in the industry?
                                                         Look no further than Moonlight Meadery! We are always on the lookout for 
                                                         talented and passionate individuals to join our team. Whether you have
                                                          experience in brewing or are looking to start a new career path, we have
                                                           opportunities for everyone. From production and sales to marketing and
                                                            events, we offer a variety of positions that cater to different skill
                                                             sets and interests. Join us in creating delicious and innovative meads
                                                              while working in a fun and collaborative environment. Apply today
                                                               and become part of the Meadery family!</p>
                                                            <p>At our Moonlight Meadery, we are proud to offer our employees a range of benefits 
                                                                and perks that make working with us a rewarding and enjoyable experience.
                                                                 Our team members receive competitive salaries, as well as health insurance, 
                                                                 paid time off, and 401(k) plans. We also offer opportunities for career growth 
                                                                 and development, as well as access to discounts on our products. Plus, working 
                                                                 with us means joining a passionate and talented team that values creativity,
                                                                  collaboration, and innovation. If you are looking for a dynamic and exciting
                                                                   career in the beverage industry, we encourage you to apply to join our team today!</p>

                                                </section>
                                                <section class="col-6 col-6-narrower image featured" style="padding-top: 6em;">
                                                    <img src="/public/images/barrels.jpg">

                                                </section>
                                        </div>
                                        <div class="row">
                                            <section class="col-12 col-12-narrower" style="text-align:center ;">
                                                <h1>Current Openings</h1>
                                                <ul>
                                                    <li><h2>Production Assistant</h2>
                                                        <p>The Meadery is looking for a Production Assistant to help with the daily operations of our facility.
                                                             The ideal candidate will assist with bottling, packaging, and labeling, as well as cleaning and maintenance of equipment.
                                                             This role requires attention to detail, the ability to lift heavy items, and a passion for crafting high-quality mead.</p>

                                                    </li>
                                                    <li><h2>Front Desk</h2>
                                                        <p>As a front desk personnel in our meadery, 
                                                            you will be the first point of contact for visitors 
                                                            and customers. You will be responsible for managing inquiries,
                                                             reservations, and ensuring a welcoming and professional environment. 
                                                             Additionally, you will work closely with the production team to ensure a
                                                              seamless experience for all guests.</p>
                                                        
                                                    </li>
                                                    <li><h2>Marketing Assistant</h2>
                                                        <p>As a marketing assistant for our meadery, you will support 
                                                            the marketing team in creating and executing promotional campaigns,
                                                             managing social media accounts, and developing content for our website
                                                              and email newsletters. You will also assist in organizing and attending
                                                               events to promote our products and interact with customers. The ideal
                                                                candidate should be creative, detail-oriented, and possess excellent 
                                                                communication and organizational skills.</p>
                                                        
                                                    </li>
                                                    <li><h2>Beekeeper</h2>
                                                        <p>Beekeepers at our meadery will be responsible for maintaining and managing
                                                             the health and productivity of our bees. They will work closely with our
                                                              production team to ensure the quality of our honey and other bee-derived
                                                               products. The ideal candidate will have experience in beekeeping, a strong 
                                                               work ethic, and a passion for sustainable agriculture.</p>
                                                        
                                                    </li>
                                                </ul>
                                            </section>

                                        </div>
                                       

									
								</article>
                                

						</div>
					</div>
				</section>
                <section id="cta" class="wrapper style3">
                    <div class="container">
                        <header>
                            <h2 style="color: black;">Apply today!</h2>
                            <a href="404" class="button">Click Here!</a>
                        </header>
                    </div>
                </section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>