<%- include ('partials/header.ejs') %>

			<!-- Banner -->
				<section id="banner" style="background-image: url(
					'/public/images/HomeBanner.jpg'
				);">
					
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class=" icon solid major fa-flower-daffodil"></i>	
									<h3>All Natural Ingredients</h3>
									<p>Our mead is made with the finest natural ingredients sustainably sourced from the wildflowers of California, helping to keep you, and the enviroment, healthy.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-pencil-alt"></i>
									<h3>Superb Taste</h3>
									<p>Made with the finest craftsmenship, our expert brewers and beekeepers work together to craft the most expressive flavored meads and finest quality honey the world has to offer. </p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-wrench"></i>
									<h3>Sustainable</h3>
									<p>For every bottle purchased we donate a fraction of the sale to help fund beekeepers across the country!</p>
								</div>
							</section>
						</div>
					</div>
				</section>
				<!----Images-->
				<section class="wrapper style1 gallery-container" >
					<div class="thumbnails"></div>
					<div class="container hs full" style=" max-height: 75vh; max-width: 100vw; display: flex; flex-direction: row; align-items: space-between;">
					<div class="col-4 col-12-narrower item"><img src="/public/images/doubleGlasses.jpg" style="max-height: 75vh;" alt=""></div>
					<div class="col-4 col-12-narrower item"><img src="/public/images/cheers1.jpg" style="max-height: 75vh;" alt=""></div>
					<div class="col-4 col-12-narrower item"-md><img src="/public/images/jarOHoney.jpg" style="max-height: 75vh;" alt=""></div>
					<div class="col-4 col-12-narrower item"-md><img src="/public/images/cheers2.jpg"style="max-height: 75vh;"  alt=""></div>
					<div class="col-4 col-12-narrower item"-md><img src="/public/images/WB1.jpg"style="max-height: 75vh;"  alt=""></div>
				</div>

				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>A DIFFERENT KIND OF MEAD</h2>
							<p class="altTop" >Our meadery is shaking off the old image of mead by bringing you the latest and greatest in flavors and style. We're bringing mead into the 21st century.</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="/whatIsMead" class="image left"><img src="public/images/singleGlass.jpg" alt="" /></a>
									<a href="/whatIsMead" style="color: black"><div class="inner">
										<h3>What is mead?</h3>
										<p>Mead is one of the oldest fermented beverages ever created. Read about the history and proccess of creating one of humanities most iconic and amazing drinks.</p>
									</div></a>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="public/images/wineRack.jpg" alt="" /></a>
									<a href="#" style="color: black"><div class="inner">
										<h3>Our Products</h3>
										<p>View our current collection of wines and drinks. Our menu changes seasonlly so be sure to check back often to see what we've been up to!</p>
									</div></a>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="public/images/michael1.jpg" alt="" /></a>
									<a href="#" style="color: black"><div class="inner">
										<h3>About Us</h3>
										<p>Our meadery opened in 2020 fermenting small batch wines for local markets, we've since expanded to ship internationally! Click to read more.</p>
									</div></a>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="public/images/flowerFieldTall.jpg" alt="" /></a>
									<a href="#" style="color: black"><div class="inner">
										<h3>Sustainability</h3>
										<p>We are commited to helping the enviroment and creating a sustainable habitat for bees in the wild. we've partnered with over 150 different beekeepers to help ensure a healthy honeybee population!</p>
									</div></a>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Want to stay up to date?</h2>
							<a href="#" class="button">Join the Newsletter</a>
						</header>
					</div>
				</section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>