<%- include ('partials/header.ejs') %>

			<!-- Main -->
			<section id="banner" style="background-image: url('/public/images/sunFlower.jpg'); height: 13em;">
					
			</section>

				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header style="text-align: center;">
										<h2>Commited to sustainability</h2>
										<p>Every drink you buy helps!</p>
									</header>

									

									<p style="text-align: center;">Mead is an alcoholic beverage made from fermented honey and water, sometimes with additional flavorings such as fruit,
										 spices, or herbs. Its history can be traced back thousands of years, with evidence of mead-making found in ancient cultures 
										 across Europe, Africa, and Asia.
										 Mead was particularly popular in medieval Europe, where it was often associated with royalty and nobility. 
										 The drink played a significant role in Norse mythology, and was consumed during many religious ceremonies and celebrations.
										  Mead production declined in popularity during the Renaissance, and was largely replaced by beer and wine. However, in recent years, 
										  there has been a resurgence of interest in mead, with craft meaderies popping up around the world and new styles and flavor combinations
										   being explored.



									</p>

									<h3 style="text-align: center;">Join our Beekeper program!</h3>
									<p style="text-align: center;">
										As Moonlight Meadery, we are committed to preserving the environment
                                         and supporting the important role that bees play in our ecosystem. 
                                         That's why we have implemented a sustainability program where we donate a 
                                         portion of our profits to beekeepers and environmental organizations for 
                                         every bottle of mead that is purchased. Our goal is to help protect the 
                                         declining bee populations and promote sustainable beekeeping practices while
                                          also raising awareness about the importance of pollinators. By choosing Moonlight
                                           Meadery, our customers can enjoy delicious and high-quality mead while also making a
                                            positive impact on the planet and supporting our mission of sustainability.</p>

									<p style="text-align: center;">At Moonlight Meadery, we are passionate about beekeeping and want to share our knowledge 
                                        and experience with our community. That's why we offer beekeeping classes to anyone interested
                                         in learning this important and rewarding skill. Our classes cover everything from the basics 
                                         of setting up a hive to advanced techniques for caring for bees and harvesting honey. We believe
                                          that beekeeping is not only an enjoyable hobby, but also a valuable way to support the environment
                                           and promote sustainability. By taking our classes, students can gain a deeper understanding of
                                            the vital role that bees play in our ecosystem and learn how to protect and care for them. We 
                                            are proud to offer these classes and to be a part of the growing movement to support sustainable
                                             beekeeping practices and protect these essential pollinators.</p>
								</article>

						</div>
					</div>
				</section>
                <section id="banner" style="background-image: url('/public/images/windmill.jpg'); height: 13em;">
					
                </section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>