<%- include ('partials/header.ejs') %>

			<!-- Main -->

            <section id="banner" style="background-image: url('/public/images/cheers1.jpg'); height: 13em;">
					
            </section>

				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->
                           

								<article>
									<header  class="major"style="text-align: center;">
										<h1 style="font-size: 3em;">Join The Club</h1>
										<p class="altTop">see what all the buzz is about</p>
									</header>
                                        <div class="row" style="padding-top:4em">
                                                <section class="col-6 col-6-narrower image featured">
                                                    <img src="/public/images/cheers2.jpg">

                                                </section>
                                                <section class="col-6 col-6-narrower" style="padding-top:4em">
                                                    <p>Sign up for our exclusive newsletter and unlock access to amazing perks and discounts
                                                        for our mead company! As a subscriber, you'll be the first to know about new product 
                                                        releases, upcoming events, and exciting news from our meadery. Plus, you'll receive 
                                                        special discounts and promotions that are only available to our loyal subscribers.
                                                        Join our community of mead enthusiasts today and enjoy the sweet taste of savings!</p>
                                                        <p><strong>Exclusive perks include:</strong>
                                                            <ul>
                                                                <li>First to know about new releases</li>
                                                                <li>Discount codes and exlusive sales</li>
                                                                <li>Free monthly tastings </li>
                                                                <li>Vote and decide on new flavors and concepts</li>
                                                                <li>Free shipping on orders over $30*</li>
                                                                <li>Special access to parties and events we host at our meadery!</li>
                                                            </ul>

                                                        </p>
                                                        

                                                </section>
                                        </div>
                                       

									
								</article>
                                

						</div>
					</div>
				</section>
                <section id="cta" class="wrapper style3">
                    <div class="container">
                        <header>
                            <h2 style="color: black;">Join today!</h2>
                            <a href="/signUp" class="button">Sign up</a>
                        </header>
                    </div>
                </section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>