<%- include ('partials/header.ejs') %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header>
										<h2>What is Mead?</h2>
										<p>A brief dive into one of humanities oldest drinks</p>
									</header>

									<span class="image featured"><img src="public/images/doubleGlassesSquare.jpg" alt="" /></span>

									<p>Mead is an alcoholic beverage made from fermented honey and water, sometimes with additional flavorings such as fruit,
										 spices, or herbs. Its history can be traced back thousands of years, with evidence of mead-making found in ancient cultures 
										 across Europe, Africa, and Asia.
										 Mead was particularly popular in medieval Europe, where it was often associated with royalty and nobility. 
										 The drink played a significant role in Norse mythology, and was consumed during many religious ceremonies and celebrations.
										  Mead production declined in popularity during the Renaissance, and was largely replaced by beer and wine. However, in recent years, 
										  there has been a resurgence of interest in mead, with craft meaderies popping up around the world and new styles and flavor combinations
										   being explored.



									</p>

									<h3>But how is it made?</h3>
									<p>
										Mead brewing involves fermenting honey and water with yeast to create an alcoholic beverage.
										 The process begins with selecting the appropriate honey, which can greatly affect the final flavor of 
										 the mead. Next, water is added to the honey and the mixture is heated to dissolve the honey and sterilize 
										 the solution. Yeast is then added to the mixture, and the fermentation process begins. Depending on the desired 
										 style and strength of the mead, additional flavorings such as fruits, spices, or herbs can be added during or after 
										 fermentation. Mead can take anywhere from a few weeks to several years to mature, depending on the desired flavor 
										 profile and strength. Once the fermentation is complete, the mead is typically aged in bottles or barrels to allow 
										 flavors to develop and meld. Mead brewing can be a complex and rewarding process, allowing for endless experimentation
										  and creativity in flavor combinations..</p>

									<p>Our mead fermentation process is like no other, resulting in a unique and truly exceptional flavor 
										profile. Unlike many meaderies, we exclusively use locally-sourced, raw, and unfiltered honey in our 
										mead production. This ensures that our mead retains the natural flavors and aromas of the local flora,
										 resulting in a truly distinct and regional product. Our proprietary yeast strain is also carefully 
										 selected and cultivated for each batch, ensuring that every bottle of our mead has its own distinct 
										 character. To add even more complexity to our mead, we age each batch in oak barrels, allowing the 
										 flavors to develop and mature over time. Our commitment to using only the highest quality ingredients 
										 and our meticulous attention to detail in every step of the process ensures that our mead is not only 
										 delicious, but truly unique and unmatched in flavor.</p>
								</article>

						</div>
					</div>
				</section>

			<!-- Footer -->
			<%- include ('partials/footer.ejs') %>